p, ul    { @include p();  }
a    {
  @include a();
  #sqs-cart-root & {
    font-family: $sans;
    color: $red;
  }
}
h1   { @include h1(); }
h2   { @include h2(); }
h3   { @include h3(); }
h4   { @include h4(); }
h6   { @include h6(); }
.btn { @include button(); }
em   { font-style: italic; }
span.original-price { text-decoration: line-through; }