@use "sass:math";

.coffee-club {
  display: block;
  width: 100%;
  position: relative;
  .hero-divider { 
    &:first-child, &--one {
      background-image: url("/assets/contact-background.jpg"); 
    }
  }
}
.subscription {
  padding: 2rem 0;
  @include respond-to(ipad-portrait) {
    padding: 4rem 0;
  }
  & > div:first-child {
    padding-bottom: 2rem;
  }
}