main#coffee-cart {

}
.coffee-cart {
  width: 100%;
  max-width: 800px;
  @include center;
  padding: 50px 16px;
  color: $black;
  a {
    text-decoration: underline;
    color: $black;
    &:hover { color: $red; }
  }
  .touch & { color: $black; }
  &__title { @include divider(75%, 30px auto 15px); }
  @include respond-to(ipad-portrait) {
    padding: 100px 0;
  }
  @include respond-to(ipad-landscape) {
    p, a { font-size: rem-calc(22); }
  }
  .form-wrapper .field-list .field select,
  .form-wrapper .field-list .field .field-element {
    color: $black;
  }
}
