main#contact {
  background-image: url("/assets/contact-background.jpg");
  // background-size: cover;
  // border: 3px solid $white;
  // .no-touch & { background-attachment: fixed; }
  // .touch & { background-attachment: none; }
}
// .contact {
//   //padding: 50px 16px;
//   width: 100%;
//   @include center;
//   color: $white;
//   text-align: left;
//   .hero-divider:first-child { background-image: url("/assets/contact-background.jpg"); }
//   &__container {
//     padding: 2rem 1rem;
//     background-color: white;
//     color: #2a2a2a;
//     @include font-sans();
//   }
//   &__inner {
//     width: 100%;
//     display: block;
//     max-width: 640px;
//     margin: 0 auto;
//   }
// }
.form-wrapper .field-list .field .field-element {
  color: $black;
}
.sqs-layout-insert-block-menu .sqs-blockicon .label { box-sizing: initial; }
