.site-title-heading {
  position: absolute;
  top: 0;
  left: 0;
  text-indent: -9999px;
}
.sqs-announcement-bar + header {
  margin-top: 34px;
}
.sqs-announcement-bar-hidden + header {
  margin-top: 0 !important;
}