.welcome {
  .hero {
    @include hero(100vh);
    &__inner {
      display: inline-block;
      margin-top: 30vh;
      width: 100%;
      max-width: 450px;
    }
  }
}
.learn-more {
  @include center;
  @include clearfix;
  display: block;
  position: relative;
  width: 100%;
  max-width: 960px;
  background-color: $gray;
  padding: 100px 16px;
  @include respond-to(ipad-portrait) {
    padding: 100px 0;
  }
  &__item {
    position: relative;
    display: block;
    width: 100%;
    max-width: 615px;
    z-index: 5;
    @include center();
    @include respond-to(ipad-landscape) {
      float: right;
      clear: both;
    }
    &:first-of-type {
      margin-bottom: 50px;
      @include respond-to(ipad-landscape) {
        float: left;
        margin-bottom: 100px;
      }
    }
  }
  &__cup {
    display: none;
    position: absolute;
    top: -100px;
    left: 615px;
    width: 696px;
    z-index: 1;
    @include respond-to(ipad-landscape) {
      display: block;
    }
  }
  &__beans {
    display: none;
    position: absolute;
    bottom: -470px;
    right: 655px;
    width: 630px;
    z-index: 1;
    @include respond-to(ipad-landscape) {
      display: block;
    }
  }
}
.hero-divider {
  width: 100%;
  height: 575px;
  background: url("/assets/home-men-in-window.jpg") no-repeat center center;
  background-size: cover;
}
.featured-blogs {
  width: 100%;
  position: relative;
  text-align: right;
  font-size: 0;
  h1 { @include divider(55px, 25px 0 30px); }
  &:before {
    content: '';
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: percentage(580 / 1440);
    height: 100%;
    background: url("/assets/home-guitar-chalk-board.jpg") no-repeat center center;
    background-size: cover;
    @include respond-to(ipad-portrait) {
      display: block;
    }
  }
  &__inner {
    display: inline-block;
    width: 100%;
    padding: percentage(115 / 975) percentage(115 / 1440);
    text-align: left;
    vertical-align: top;
    @include respond-to(ipad-portrait) {
      width: percentage(860 / 1440);
    }
  }
  &__item {
    &:first-of-type { margin-bottom: 50px; }
  }
}
