@use "sass:math";

#store {
  position: relative;
  display: block;
  background: url("/assets/coffee-background.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed
  // &:after {
  //   content: '';
  //   display: block;
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100vh;
  //   background: url("/assets/coffee-background.jpg") no-repeat center center;
  //   background-size: cover;
  //   z-index: 1;
  // }
}
.store {
  position: relative;
  z-index: 20;
  padding: 2rem 0;
  border: 3px solid $white;
}
.categories {
  width: 100%;
  text-align: center;
  font-size: 0;
  padding: 0;
  margin: 0 auto;
  &__item {
    @include font-sans();
    display: inline-block;
    position: relative;
    font-size: $h4-size;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    font-weight: 700;
    color: $white;
    cursor: pointer;
    padding: 30px 15px;
    transition: 400ms ease;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 75%;
      left: 50%;
      transform: translateX(-53%);
      width: 50%;
      height: 2px;
      background-color: $red;
      opacity: 0;
      transition: opacity 400ms ease;
    }
    .no-touch &:hover:after {
      opacity: 1;
    }
    &--active:after {
      opacity: 1;
    }
  }
}
.tags {
  display: block;
  width: 100%;
  &--active {
    display: block;
  }
  &__list {
    @include center();
    width: 100%;
    max-width: 640px;
    text-align: center;
    font-size: 0;
    padding: 0;
  }
  &__item {
    @include font-sans();
    position: relative;
    display: inline-block;
    padding: 0 15px 20px;
    font-size: $small-size;
    letter-spacing: .15rem;
    color: $white;
    cursor: pointer;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 65%;
      left: 50%;
      transform: translateX(-50%);
      width: 40%;
      height: 2px;
      background-color: $red;
      opacity: 0;
      transition: opacity 400ms ease;
    }
    .no-touch &:hover:after {
      opacity: 1;
    }
    &--active:after {
      opacity: 1;
    }
  }
}
.products {
  width: 100%;
  font-size: 0;
  text-align: left;
  padding-top: 50px;
  padding-bottom: 100px;
  &__inner {
    width: 100%;
    max-width: 350px;
    @include center;
    #welcome & { text-align: center; }
    & > h2 {
      margin-bottom: 80px;
      #welcome & {margin-bottom: 40px;}
      #coffee-club & { margin-bottom: 0; }
    }
    & > p {
      text-align: center;
      color: $white;
      font-style: italic;
    }
    @include respond-to(mobile-plus) {
      max-width: 940px;
      #welcome & { max-width: 940px;}
    }
  }
  #coffee-club & {
    padding-top: 0;
    padding-bottom: 0;
    h2 {
      @include font-sans();
      font-size: 1.5rem;
      font-weight: 700;
      text-align: center;
      padding-bottom: 1.5rem;
      text-transform: uppercase;
      letter-spacing: .125rem;
      @include divider(30%, 20px auto);
    }
  }
  #welcome & {
    position: relative;
    padding: 4rem 2rem;
    background: url("/assets/coffee-background.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    border: 3px solid $white;
  }
  &__item {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: $white;
    text-decoration: none;
    margin-bottom: 50px;
    transition: opacity 600ms ease, transform 600ms ease, width 300ms ease;
    #coffee-club & {
      margin-bottom: 50px;
      @include respond-to(mobile-plus) {
        margin-bottom: 0;
      }
    }
    #welcome & { 
      width: 100%;
      padding: 1rem;
      vertical-align: middle;
      // &:last-of-type { display: none; }
    }
    @include respond-to(mobile-plus) {
      width: 50%;
      #welcome & { width: 50%; }
      #welcome &:nth-of-type(3) { display: none; }
    }
    @include respond-to(ipad-landscape) {
      margin-bottom: 100px;
      width: 33.33%;
      #welcome & { width: 33.33%; margin-bottom: 0; }
      #welcome &:nth-of-type(3) { display: inline-block; }
    }
    &--loading {
      opacity: 0;
      transform: translateY(20px);
    }
    &--loaded {
      opacity: 1;
      transform: translateY(0);
    }
  }
  &__image {
    width: 100%;
    max-width: 178px;
  }
  &__title, &__price {
    @include font-sans();
    font-size: $small-size;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .25rem;
    color: $white;
  }
  &__title {
    margin-top: 40px;
    margin-bottom: 15px;
  }
  &__overlay {
    position: absolute;
    width: 90%;
    max-width: 350px;
    top: 42%;
    left: 50%;
    padding: 30px 40px;
    transform: translate(-50%, -50%);
    background-color: rgba($old-gray, .8);
    opacity: 0;
    transition: 600ms ease;
    text-align: left;
    z-index: 1;
    #welcome &, #coffee-club & {
      display: none;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 55%;
      left: 55%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%);
      background-color: rgba($old-gray, .8);
      z-index: -1;
    }
    .no-touch .products__item:hover & {
      opacity: 1;
    }
    &-title {
      @include h3();
      @include divider(50px, 20px 0 20px);
    }
    &-excerpt {
      font-size: $p-xs-size;
      letter-spacing: 0.1rem;
      color: $black;
      line-height: 1.45;
    }
  }
}

// ==================================
// Individual Product Page
// ==================================
.product {
  position: relative;
  @include center;
  width: 100%;
  max-width: 530px;
  padding: 50px 16px;
  font-size: 0;
  text-align: center;
  @include respond-to(ipad-portrait) {
    max-width: 875px;
    padding: 160px 32px;
    text-align: left;
  }
  &__item {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
  }
  &__image {
    max-width: 200px;
    margin-bottom: 25px;
    @include respond-to(ipad-portrait) {
      width: percentage(math.div(300, 875));
      margin-bottom: 0;
      max-width: none;
      margin-right: percentage(math.div(45, 875));
    }
  }
  &__info {
    text-align: left;
    @include respond-to(ipad-portrait) {
      width: percentage(math.div(530, 875));
    }
  }
  &__title {
    @include h2();
    color: $white;
    letter-spacing: 0.25rem;
  }
  &__excerpt {
    @include p();
    //font-style: italic;
    color: $white;
    margin-bottom: 15px;
  }
  &__price {
    @include font-serif();
    font-size: 30px;
    font-weight: 600;
    color: $white;
    letter-spacing: .1rem;
    margin-bottom: 25px;
  }
  &-cart-info {
    display: none;
    .product-price { color: $white; }
  }
  &__body {
    .product--coffee & { display: none; }
    .btn { margin-top: 10px; }
  }
  &__variants {
    font-size: 0;
    text-align: left;
    .product--coffee-club & { display: none; }
  }
  &__button {
    @include button();
    .product--coffee-club & { display: none; }
  }
  &__link {
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
    z-index: 1;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    color: $white;
    letter-spacing: .25rem;
    @include font-sans();
    @include respond-to(ipad-landscape) {
      display: inline-block;
    }
    img {
      display: block;
      @include center();
      margin-bottom: 25px;
    }
  }
}
.select {
  position: relative;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  padding: 10px 17px 10px 0;
  margin-right: 25px;
  cursor: pointer;
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 1;
    width: 0;
    height: 0;
    cursor: pointer;
    border-style: solid;
    border-width: 7px 4px 0 4px;
    border-color: $white transparent transparent transparent;
  }
  &__title {
    font-size: $small-size;
    color: $white;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    cursor: pointer;
  }
  &__list {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 30vh;
    overflow: scroll;
    min-width: 150px;
    margin: 0;
    padding: 0;
    background-color: rgba($white, .95);
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    list-style: none;
    transition: opacity 400ms ease, visibility 0s 400ms linear;
    .select--open & {
      opacity: 1;
      visibility: visible;
      transition: opacity 400ms ease, visibility 0s 0s linear;
    }
  }
  &__item {
    @include font-sans();
    font-size: $small-size;
    color: $red;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    padding: 10px;
    transition: 400ms ease;
    cursor: pointer;
    .no-touch &:hover {
      color: $white;
      background-color: $red;
    }
  }
}

#sqs-cart-container {
  padding: 100px 32px;
  max-width: rem-calc(960);
  @include center();
}
