#store {
  background: url("/assets/coffee-background.jpg") no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
}
.categories {
  width: 100%;
  text-align: center;
  font-size: 0;
  padding-top: 45px;
  &__item {
    display: inline-block;
    position: relative;
    font-size: $h5-size;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    color: $white;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 100%;
      transform: translate(-50%, -50%);
      width: 5px;
      height: 5px;
      background-color: $red;
      border-radius: 50%;
      z-index: 1;
    }
    &:last-of-type:after {
      display: none;
    }
  }
}
.products {
  width: 100%;
  @include center;
  font-size: 0;
  text-align: left;
  padding-top: 125px;
  padding-bottom: 125px;
  max-width: 350px;
  @include respond-to(mobile-plus) {
    max-width: 940px;
  }
  &__item {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: $white;
    text-decoration: none;
    margin-bottom: 50px;
    transition: opacity 600ms ease, transform 600ms ease, width 300ms ease;
    @include respond-to(mobile-plus) {
      width: 50%;
    }
    @include respond-to(ipad-landscape) {
      margin-bottom: 100px;
      width: 33.33%;
    }
    &--loading {
      opacity: 0;
      transform: translateY(20px);
    }
    &--loaded {
      opacity: 1;
      transform: translateY(0);
    }
  }
  &__image {
    max-width: 178px;
  }
  &__title, &__price {
    @include font-sans();
    font-size: $small-size;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .25rem;
    color: $white;
  }
  .products__title {
    margin-top: 40px;
    margin-bottom: 15px;
  }
  &__overlay {
    position: absolute;
    width: 90%;
    max-width: 350px;
    top: 42%;
    left: 50%;
    padding: 30px 40px;
    transform: translate(-50%, -50%);
    background-color: rgba($gray, .8);
    opacity: 0;
    transition: 600ms ease;
    text-align: left;
    z-index: 1;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 55%;
      left: 55%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%);
      background-color: rgba($gray, .8);
      z-index: -1;
    }
    .products__item:hover & {
      opacity: 1;
    }
    &-title { @include h3(); }
    &-excerpt {
      font-size: $p-xs-size;
      letter-spacing: 0.1rem;
      color: $black;
      line-height: 2;
    }
  }
}

// ==================================
// Individual Product Page
// ==================================
.product {
  @include center;
  width: 100%;
  max-width: 530px;
  padding: 50px 16px;
  font-size: 0;
  text-align: center;
  @include respond-to(ipad-portrait) {
    max-width: 875px;
    padding: 100px 32px;
    text-align: left;
  }
  &__item {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
  }
  &__image {
    max-width: 200px;
    margin-bottom: 25px;
    @include respond-to(ipad-portrait) {
      width: percentage(300 / 875);
      margin-bottom: 0;
      max-width: none;
      margin-right: percentage(45 / 875);
    }
  }
  &__info {
    text-align: left;
    @include respond-to(ipad-portrait) {
      width: percentage(530 / 875);
    }
    @include respond-to(ipad-landscape) {
      transform: translateY(-10%);
    }
  }
  &__title {
    @include h1();
    color: $white;
    letter-spacing: 0.25rem;
    margin-bottom: 25px;
    &:after { display: none; }
  }
  &__excerpt {
    @include p();
    font-style: italic;
    color: $white;
    margin-bottom: 15px;
  }
  &__price {
    @include font-serif();
    font-size: 30px;
    font-weight: 600;
    color: $white;
    letter-spacing: .1rem;
    margin-bottom: 25px;
  }
  &-cart-info {
    display: none;
    .product-price { color: $white; }
  }
  &__variants {
    font-size: 0;
    text-align: left;
  }
  &__button {
    @include button();
  }
}
.select {
  position: relative;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  padding: 10px 25px 10px 0;
  &__title {
    font-size: $small-size;
    color: $white;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    cursor: pointer;
  }
  &__list {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    min-width: 150px;
    margin: 0;
    padding: 0;
    background-color: rgba($white, .95);
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    list-style: none;
    transition: opacity 400ms ease, visibility 0s 400ms linear;
    .select--open & {
      opacity: 1;
      visibility: visible;
      transition: opacity 400ms ease, visibility 0s 0s linear;
    }
  }
  &__item {
    font-size: $small-size;
    color: $red;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    padding: 10px;
    transition: 400ms ease;
    cursor: pointer;
    &:hover {
      color: $white;
      background-color: $red;
    }
  }
}

#sqs-shopping-cart-wrapper {
  padding: 100px 32px;
}
